USE gymforge_php;
CREATE TABLE usuarios (id INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(100) NOT NULL, email VARCHAR(100) NOT NULL UNIQUE, senha VARCHAR(255) NOT NULL, nivel ENUM('admin', 'cliente', 'visitante') DEFAULT 'visitante', ultimo_login TIMESTAMP NULL DEFAULT NULL, token_recuperacao VARCHAR(255) NULL, token_expiracao TIMESTAMP NULL DEFAULT NULL, tentativas_login INT DEFAULT 0, bloqueado_ate TIMESTAMP NULL DEFAULT NULL, created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, INDEX idx_email (email), INDEX idx_token (token_recuperacao)) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
